h1 {
  color: blue;
  text-align: center;
}
.intro h2 {
  text-align: center;
}
.entry {
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}
.divider h2 {
  text-align: center;
}
.create {
  width: 400px ;
  margin-left: auto ;
  margin-right: auto ;
}
body {
  background-color: white;
}
input[type=email] {
  background-color: #E8F0FE;
}
input[type=password] {
  background-color: #E8F0FE;
}